statprof/*
notebooks/*
data/*.jld2
data/*.jld
data/graph_cache/*.jld2
data/graph_cache/*.jld
data/maps/*.jld2
data/maps/*.jld
data/maps/*.png

figures/paper/figure_1/runs/*.pdf
figures/paper/figure_1/runs/oldruns/*
figures/paper/figure_2/runs/*.pdf
figures/paper/figure_3/runs/*.pdf
figures/paper/figure_4/runs/*.pdf
figures/paper/figure_5/A-IPP_runs/*.pdf
figures/paper/figure_5/D-IPP_runs/*.pdf
figures/paper/figure_6/A-IPP_runs/*.pdf
figures/paper/figure_6/D-IPP_runs/*.pdf
figures/paper/figure_7/runs/*.pdf
figures/paper/figure_9/runs/*.pdf

figures/paper/figure_1/*.pdf
figures/paper/figure_2/*.pdf
figures/paper/figure_3/*.pdf
figures/paper/figure_4/*.pdf
figures/paper/figure_5/*.pdf
figures/paper/figure_6/*.pdf
figures/paper/figure_7/*.pdf
figures/paper/figure_8/*.pdf
figures/paper/figure_9/*.pdf
figures/paper/paper_versions/*
figures/paper/paper_figures.pptx

figures/1.pdf
figures/multiagent.gif
